<tr
data-controller="href"
data-action="mouseup->href#toHref"
data-href="<%= content_path(content) %>"
role="link"
>
  <% if content.status_i18n == "公開" %>
    <% background="bg-success" %>
  <% else %>
    <% background="bg-danger" %>
  <% end %>
  <td class="td_vertical_align_middle"><span class="<%= background %> center-block text-center" style="color:black;"><%= content.status_i18n %></td>
  <td class="td_vertical_align_middle"><%= params[:page]?  i + 1 + (params[:page].to_i - 1)*10 :  i + 1 %></td>
  <td class="td_vertical_align_middle"><%= content.title %></td>
  <td class="td_vertical_align_middle"><%= content.emotions_i18n %></td>
  <td class="td_vertical_align_middle"><%= content.score %></td>
  <td class="td_vertical_align_middle"><%= l content.created_at %></td>
  <td class="td_vertical_align_middle"><%= l content.updated_at %></td>
  <td
  data-controller="event"
  data-action="mouseup->event#stopPropagation"
  class="td_vertical_align_middle"
  >
    <div class="btn-group">
      <%=link_to(edit_content_path(content),　class:"link_to_button") do %>
      <button type="button" name="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></button>
      <% end %>
      <%=link_to(content_path(content), method: :delete, data: { confirm: "本当に削除しますか?" }, class:"link_to_button") do %>
      <button type="button" name="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></button>
      <% end %>
    </div>
　</td>
</tr>
