<tr
  data-controller="href"
  data-action="click->href#toHref"
  data-href="<%= content_path(content) %>"
  role="link">
    <td class="td_vertical_align_middle"><%= params[:page]?  i + 1 + (params[:page].to_i - 1)*10 : i + 1 %></td>
    <td class="td_vertical_align_middle"><%= content.title %></td>
    <td class="td_vertical_align_middle"><%= content.emotions_i18n %></td>
    <td class="td_vertical_align_middle"><%= content.score %></td>
    <td class="td_vertical_align_middle"><%= content.user.age_i18n %></td>
    <td class="td_vertical_align_middle"><%= content.user.gender_i18n %></td>
    <td class="td_vertical_align_middle"><%= l content.updated_at %></td>
  </tr>
