<% provide(:title, "検索結果") %>
<h1>検索結果詳細</h1>
<%= @content.title %>
<%= @content.emotions_i18n %>
<%= @content.score %>
<%= @content.user.age_i18n %>
<%= @content.user.gender_i18n %>
<%= @content.journaling %>
<%= @content.situation %>
<%= @content.compassion %>
