<% provide(:title, "投稿内容詳細") %>
<h1>投稿内容詳細</h1>
<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
      タイトル
      </div>
      <div class="panel-body">
        <%= @content.title %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
      ジャーナリング
      </div>
      <div class="panel-body">
        <%= @content.journaling %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
      状況整理
      </div>
      <div class="panel-body">
        <%= @content.situation %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
      セルフ・コンパッション
      </div>
      <div class="panel-body">
        <%= @content.compassion %>
      </div>
    </div>
    <div class="text-right">
      <%= @content.emotions_i18n %><%= @content.score %>点
      <%= @content.user.age_i18n %> <%= @content.user.gender_i18n %>
    </div>
    <% if logged_in? %>
      <% if !ContentBookmark.exists?(user: current_user, content_id: @content.id) %>
        <%= render 'content_bookmarks/bookmark_button' %>
      <% else %>
        <%= render 'content_bookmarks/not_bookmark_button' %>
      <% end %>
    <% end %>
  </div>
