<% if comment.user.id == current_user.id %>
  <% # コメント主が現在のログインユーザの場合 %>
  <p class = "comment-phrase under-line"><%= comment.phrase_i18n %></p>
  <p class = "comment-data">あなたのコメント <%= l comment.created_at %></p>
<% elsif comment.user.id == @content.user_id %>
  <% # コメント主が現在のログインユーザではないが、投稿者の場合 %>
  <p class = "comment-phrase under-line_double"><%= comment.phrase_i18n %></p>
  <p class = "comment-data">投稿者のコメント <%= l comment.created_at %></p>
<% else %>
  <% # コメント主が現在のログインユーザではなく、投稿者でもない場合 %>
  <p class = "comment-phrase"><%= comment.phrase_i18n %></p>
  <p class = "comment-data"><%= comment.user.age_i18n %> <%= comment.user.gender_i18n %>のコメント <%= l comment.created_at %></p>
<% end %>
