<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>コメント</h2>
    <% if @comments.any? %>
      <% content_user_id = @content.user_id %>
      <% @comments.each_with_index do |comment,i| %>
        <% if comment.user.id == current_user.id %>
          <% # コメント主が現在のログインユーザの場合 %>
          <p class = "comment-phrase under-line"><%= comment.phrase_i18n %></p>
          <p class = "comment-data">あなたのコメント <%= l comment.created_at %></p>
        <% elsif comment.user.id == content_user_id %>
          <% # コメント主が現在のログインユーザではないが、投稿者の場合 %>
          <p class = "comment-phrase under-line_double"><%= comment.phrase_i18n %></p>
          <p class = "comment-data">投稿者のコメント <%= l comment.created_at %></p>
        <% else %>
          <% # コメント主が現在のログインユーザではなく、投稿者でもない場合 %>
          <p class = "comment-phrase"><%= comment.phrase_i18n %></p>
          <p class = "comment-data"><%= comment.user.age_i18n %> <%= comment.user.gender_i18n %>のコメント <%= l comment.created_at %></p>
        <% end %>
      <% end %>
    <% else %>
      <p class = "comment-none">まだコメントはありません</p>
    <% end %>
    <%= form_with(model: @comment, method: :post, local: true) do |f| %>  
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :content_id, value: @content.id, class: 'form-control' %>

      <%= f.select :phrase, Comment.phrases.keys.map {|k| [I18n.t("enums.comment.phrase.#{k}"), k]}, {}, {class: 'form-control'}  %>

      <%= f.submit 'コメントする', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
