<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>コメント</h2>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render partial: '/comments/comment', locals: { comment: comment } %>
      <% end %>
    <% else %>
      <p class = "comment-none">まだコメントはありません</p>
    <% end %>
    <%= form_with(model: @comment, method: :post, local: true) do |f| %>  
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :content_id, value: @content.id, class: 'form-control' %>

      <%= f.select :phrase, Comment.phrases.keys.map {|k| [I18n.t("enums.comment.phrase.#{k}"), k]}, {}, {class: 'form-control'}  %>

      <%= f.submit 'コメントする', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
