<div class="container" id="calendar"></div>
<div class="modal" id="new_event" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ココロカレンダー追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group field">
          <%= form_with(model: @event, remote: true) do |f| %>
            <div class="form-inputs">
              <div class="form-group">
                <%= f.label :mind, "ココロ", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :mind, class: "form-control"%>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :user_id, "ユーザID", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :user_id, class: "form-control"%>
                </div>
              </div>
 
              <div class="form-group">
                <%= f.label :reason, "理由", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :reason, class: "form-control"%>
                </div>
              </div>
 
               <div class="form-group">
                <%= f.label :date, "日付け", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :date, class: "form-control"%>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :small_success, "小さな成功体験", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :small_success, class: "form-control"%>
                </div>
              </div>
            </div>
            
 
            <div class="modal-footer actions">
              <%= f.submit "入力完了", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

