<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
        　<li><%= link_to "新規投稿", new_content_path %></li>
        　<li><%= link_to "投稿管理", index_contents_path(current_user) %></li>
          <li><%= link_to "お気に入り投稿", index_bookmarks_path(current_user) %></li>
          <li><%= link_to "プロフィール更新", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
